:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --description-color: #757575;
  --hero-color: #c4c4c4;
  --gray-color: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
}

.button {
  display: inline-block;
  border-color: transparent;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.navigation-list-item,
.address-list-item,
.contacts-list-item,
.features-list-item,
.whatwedo-list-item,
.ourteam-list-item,
.buttons-list-item,
.project-item {
  list-style-type: none;
}

.container {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 31px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .modal-icon,
.close-button:focus .modal-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text {
  padding: 40px;
}

.we-call-you {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.order-service-form {
  display: flex;
  flex-direction: column;
}

.order-service-label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--description-color);
}

.order-service-label.name, .order-service-label.telephone, .order-service-label.mail {
  margin-bottom: 10px;
}

.order-service-input {
  margin-top: 4px;
  padding: 11px 42px;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-input:focus {
  border-color: var(--accent-color);
}

.input-wrapper {
  position: relative;
}

.field-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-input:focus + .field-icon {
  fill: var(--accent-color);
}

.order-service-textarea {
  margin-top: 4px;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.order-service-textarea:focus {
  border-color: var(--accent-color);
}

.order-service-textarea::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-service-conditions {
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.check-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-input:checked + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.order-service-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-left: 24px;
}

.conditions-link {
  color: var(--accent-color);
}

.order-service-button {
  margin: 0 auto;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  cursor: pointer;
}

.whatwedo-title,
.ourteam-title,
.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.container .navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.address-list {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #110f0f;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .logo {
  margin-right: 93px;
  padding-bottom: 25px;
  padding-top: 24px;
}

.logo:focus {
  color: var(--accent-color);
}

.logo-web {
  color: var(--accent-color);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: var(--accent-color);
}

.address-list-item:not(:last-child) {
  margin-right: 30px;
}

.letter-link {
  margin-left: 305px;
}

.address-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: var(--description-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover, .address-list-link:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: var(--description-color);
}

.header-icon.letter {
  width: 16px;
  height: 12px;
}

.header-icon.phone {
  width: 10px;
  height: 16px;
}

.address-list-link:hover .header-icon,
.address-list-link:focus .header-icon {
  fill: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  bottom: -27px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: relative;
}

.hero-name {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.hero-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  display: flex;
  letter-spacing: 0.06em;
  color: #fff;
  margin: 0 auto;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover, .hero-button:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    padding: 118px 0;
    margin-bottom: 60px;
    background-color: var(--hero-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-img-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-img-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    margin-bottom: 60px;
    background-color: var(--hero-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-img-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__right-side {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-name {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
  .hero {
    padding: 200px 0;
    margin-bottom: 94px;
    background-color: var(--hero-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-img-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__right-side {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-img-desktop@2x.jpg");
  }
}

.features-section {
  padding-top: 60px;
}

.features-list-item {
  width: 450px;
}

.features-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.features-list-icon-container {
  background: var(--gray-color);
  border-radius: 4px;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 190px;
}

.features-list-item-name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.features-list-item-description {
  width: 450px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

@media screen and (min-width: 768px) {
  .features-section {
    padding-top: 60px;
  }
  .features-list {
    display: flex;
  }
  .features-list-item {
    width: 354px;
  }
  .features-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .features-list-icon-container {
    background: var(--gray-color);
    border-radius: 4px;
    width: 354px;
    height: 120px;
    padding: 25px 142px;
    margin-bottom: 30px;
  }
  .features-list-item-name {
    margin-bottom: 10px;
    text-align: left;
  }
  .features-list-item-description {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
  }
  .features-list {
    display: flex;
  }
  .features-list-item {
    width: 270px;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .features-list-icon-container {
    display: flex;
    background: var(--gray-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
  .features-list-item-name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .features-list-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--description-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .section.what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .whatwedo-title {
    margin-bottom: 50px;
  }
  .whatwedo-list {
    display: flex;
    position: relative;
  }
  .whatwedo-list-img {
    width: 370px;
    height: 294px;
    display: block;
  }
  .whatwedo-list-img-description {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    padding: 27px 82px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .whatwedo-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-clients-title {
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.our-clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 41px;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list-link:hover, .our-clients-list-link:focus {
  border-color: var(--accent-color);
}

.our-clients-link-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list-link:hover .our-clients-link-icon,
.our-clients-list-link:focus .our-clients-link-icon {
  fill: var(--accent-color);
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 89px;
  height: 45px;
}

.website-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-blocks {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.website-footer .logo {
  display: block;
  margin-bottom: 20px;
}

.logo-studio {
  color: #fff;
}

.contacts-list {
  margin-right: 70px;
}

.contacts-list-item {
  display: block;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link.street {
  color: #fff;
}

.contacts-list-link:hover, .contacts-list-link:focus {
  color: var(--accent-color);
}

.join-us {
  width: 206px;
  height: 80px;
  margin-right: 93px;
}

.join-us-title,
.follow-us-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.join-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list-link:hover, .join-list-link:focus {
  background-color: var(--accent-color);
}

.join-list-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.follow-us {
  width: 570px;
  height: 86px;
}

.follow-us-form {
  display: flex;
}

.follow-us-input {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  padding: 15px 16px;
  margin-right: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-us-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.follow-us-input:not(:placeholder-shown) {
  color: #fff;
}

.follow-us-input:focus {
  border: 1px solid var(--accent-color);
}

.follow-us-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.follow-us-text {
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
}

.follow-us-icon {
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=main.css.map */