.features-section {
  padding-top: 60px;
  max-width: 100%;
}

.features-list-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &:last-child {
    margin-bottom: 60px;
  }
}

.features-list-icon-container {
  background: var(--gray-color);
  border-radius: 4px;
  height: 120px;
  width: 450px;
  margin-bottom: 30px;
  padding: 25px 190px;
  overflow: hidden;
}

.features-list-item-name {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.features-list-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

@media screen and (min-width: 768px) {
  .features-section {
    padding-top: 60px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-list-item {
    width: calc(100% / 2 - 30px);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  .features-list-icon-container {
    background: var(--gray-color);
    border-radius: 4px;
    height: 120px;
    width: 354px;
    padding: 25px 142px;
    margin-bottom: 30px;
  }

  .features-list-item-name {
    margin-bottom: 10px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-list-item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .features-list-icon-container {
    display: flex;
    background: var(--gray-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    padding: 25px 100px;
  }

  .features-list-item-name {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .features-list-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--description-color);
  }
}
