.logo-studio {
  color: #fff;
}

.logo {
  text-align: center;
}

.website-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  margin: 0 auto;
}

.website-footer .logo {
  display: block;
  margin-bottom: 20px;
}

.contacts-list {
  text-align: center;
}

.contacts-list-item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.contacts-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.street {
    color: #fff;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-list {
  margin-bottom: 60px;
}

.join-us {
  height: 80px;
  margin-bottom: 60px;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.join-us-title,
.follow-us-title {
  text-align: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.join-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.join-list-link {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join-list-icon {
  height: 20px;
  fill: #fff;
}

.follow-us {
  width: 100%;
  height: 156px;
  margin-left: auto;
  margin-right: auto;
}

.follow-us-input {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  padding: 15px 16px;
  margin-bottom: 20px;
  overflow: hidden;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &:not(:placeholder-shown) {
    color: #fff;
  }

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.follow-us-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.follow-us-text {
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  text-align: center;
  letter-spacing: 0.06em;

  color: #fff;
}

.follow-us-icon {
  height: 24px;
}

@media screen and (min-width: 768px) {
  .footer-blocks-tablet {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: baseline;
    justify-content: space-between;
  }

  .logo-links {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    text-align: left;
  }

  .footer-blocks {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .contacts-list {
    margin-right: 70px;
    text-align: left;
    width: 231px;
    height: 81px;
  }

  .contacts-list-item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  .join-us {
    width: 206px;
    height: 80px;
    margin-right: 93px;
  }

  .join-us-title,
  .follow-us-title {
    text-align: left;
  }

  .join-list-link {
    display: flex;
    justify-content: center;
  }

  .follow-us {
    width: 570px;
    height: 86px;
  }

  .follow-us-form {
    display: flex;
  }

  .follow-us-input {
    margin-right: 12px;
  }
}
