.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.container .navigation {
  display: flex;
  justify-content: space-between;
}

.menu-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.menu-container-row {
  display: none;
}

.header-menu-icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  &.is-open {
    display: block;
    z-index: 20;
  }
}

//.navigation-list {
//  display: flex;
//}

//.address-list {
// display: flex;
//}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgb(17, 15, 15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //font-size: 26px;
  // line-height: 1.192;
  .header & {
    padding-bottom: 16px;
    padding-top: 16px;
    // margin-right: 93px;
    //  padding-bottom: 25px;
    //   padding-top: 24px;
  }

  &:focus {
    color: var(--accent-color);
  }
}

.logo-web {
  color: var(--accent-color);
}

//.navigation-list {
// position: absolute;
//}

.navigation-list-item:not(:last-child) {
  // margin-right: 50px;
  margin-bottom: 40px;
}

.navigation-list-item:last-child {
  margin-bottom: 60px;
}

.navigation-list-link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  // font-size: 14px;
  // line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-list-item:not(:last-child) {
  margin-bottom: 16px;
  // margin-right: 30px;
}

//.letter-link {
// margin-left: 305px;
//}

.address-list-link {
  // display: flex;
  //  align-items: center;
  //  justify-content: center;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  //  font-size: 14px;
  //  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;

  color: var(--description-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-icon {
  // margin-right: 10px;
  fill: var(--description-color);

  &.letter {
    width: 16px;
    height: 12px;
  }

  &.phone {
    width: 10px;
    height: 15px;
  }

  .address-list-link:hover &,
  .address-list-link:focus & {
    fill: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
  .header {
    border-bottom: 1px solid #ececec;
  }

  .logo {
    .header & {
      padding-bottom: 26px;
      padding-top: 26px;
      margin-right: 88px;
    }
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: none;
  }

  .address-list {
    display: none;
  }

  //.menu-container-row {
  // display: block;

  //.navigation-list-row {
  //  padding-bottom: 32px;
  //  padding-top: 32px;
  //}

  .address-list-row,
  .navigation-list-row {
    list-style-type: none;
  }

  .navigation-list-row-link,
  .address-list-row-link {
    text-decoration: none;
  }

  .address-list-row {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .navigation-list-row-item:not(:last-child) {
    margin-right: 50px;
  }

  .address-list-row-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .header-icon {
    margin-right: 8px;
  }

  .address-list-row-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.167;
    font-style: normal;

    letter-spacing: 0.02em;

    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .navigation-list-row-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

    color: var(--main-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .menu-container-row {
    display: flex;
  }

  .navigation-list-row {
    display: flex;
    margin-right: 84px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-icon {
    .address-list-row-link:hover &,
    .address-list-row-link:focus & {
      fill: var(--accent-color);
    }
  }

  .current {
    &::after {
      content: "";
      display: block;
      bottom: -27px;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      position: relative;
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
    .header & {
      padding-bottom: 25px;
      padding-top: 24px;
      margin-right: 93px;
    }
  }

  .address-list-row {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .address-list-row-item:not(:last-child) {
    margin-right: 30px;
  }

  .address-list-row-link {
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }

  .header-icon {
    margin-right: 10px;
  }

  .navigation-list-row {
    margin-right: 305px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .navigation-list-row-item:not(:last-child) {
    margin-right: 50px;
  }
}
