.our-clients-link-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .our-clients-list-link:hover &,
  .our-clients-list-link:focus & {
    fill: var(--accent-color);
  }
}

.logo-1 {
  height: 50px;
  width: 45px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  height: 43px;
  width: 41px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  height: 47px;
  width: 59px;
}

.logo-6 {
  width: 89px;
  height: 45px;
}

.our-clients-title {
  margin-bottom: 30px;
}

.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.our-clients-list-item {
  width: calc(100% / 2 - 15px);
  margin-bottom: 30px;
  overflow: hidden;

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

.our-clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .container.clients {
    width: 100%;
    overflow-x: hidden; /*для горизонтального*/
    overflow: hidden;
  }

  .our-clients-list-item {
    width: 226px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 30px;
    overflow: hidden;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-title {
    margin-bottom: 50px;
  }

  .our-clients-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .our-clients-list-item {
    width: 170px;
    height: 90px;
    margin-right: 30px;
    // overflow: hidden;

    // &:nth-child(3n) {
    //  margin-right: 0;
    // }

    &:nth-child(3) {
      margin-right: 30px;
    }
  }
}
