.buttons-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.buttons-list-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.button-text {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  background: var(--gray-color);
  border-radius: 4px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.projects {
  padding: 0;
  margin: 0;
  list-style: none;
  // display: flex;
  // flex-wrap: wrap;

  //  margin-left: -30px;
  //  margin-top: -30px;
}

.project-item {
  height: 404px;

  &:not(:last-child) {
    margin-bottom: 35px;
  }
  // flex-basis: calc(100% / 3 - 30px);

  // margin-left: 30px;
  //  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-item-link {
  text-decoration: none;
}

.project-item-img-position {
  position: relative;
  overflow: hidden;
}

.project-item-img {
  display: block;
  width: 100%;
  height: 294px;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project-item:hover & {
    transform: translateY(0%);
  }
}

.project-description {
  width: 100%;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}

.project-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

@media screen and (min-width: 768px) {
  .buttons-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 60px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
  }

  .project-item {
    flex-basis: calc(100% / 2 - 30px);

    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
  }

  .project-item {
    flex-basis: calc(100% / 3 - 30px);

    margin-left: 30px;
  }
}
