.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  // transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;

  &.is-hidden {
    display: none;
    // transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 750ms;
  }
}

.modal {
  //position: fixed;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%) scale(1);
  //min-height: 581px;

  background: #ffffff;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //  0px 2px 1px rgba(0, 0, 0, 0.2);
  //border-radius: 4px;

  // transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  // .backdrop.is-hidden & {
  //  transform: translate(-50%, -50%) scale(0);
  // transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 20px;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .close-button:hover &,
  .close-button:focus & {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text {
  padding: 40px;
}

.we-call-you {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);

  margin-bottom: 12px;
}

.order-service-form {
  display: flex;
  flex-direction: column;
}

.order-service-label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: var(--description-color);

  &.name,
  &.telephone,
  &.mail {
    margin-bottom: 10px;
  }
}

.order-service-input {
  margin-top: 4px;
  padding: 11px 42px;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }
}

.input-wrapper {
  position: relative;
}

.field-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .order-service-input:focus + & {
    fill: var(--accent-color);
  }
}

.order-service-textarea {
  margin-top: 4px;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;

  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.order-service-conditions {
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.check-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .order-service-input:checked + & {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  }
}

.order-service-text {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;

  color: var(--description-color);
  margin-left: 24px;
}

.conditions-link {
  color: var(--accent-color);
}

.order-service-button {
  margin: 0 auto;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 581px;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  //  .we-call-you {
  //    line-height: 1.15;
  // }

  // .order-service-text {
  //   font-size: 14px;
  //   line-height: 1.71;
  // }
}
